html {
    overflow: auto;
}

body{
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
    color: #535353 !important;
}

a {
    color: inherit !important;
}

a:hover {
    text-decoration: none;
}

#root{
    width: 100%;
    height: 100%;
}

#homepage {
    width: 100%;
}

#main-bd{
    background-color: #f6f4f4;
}




/* --------- Splash Screen Styles --------- */
#splash{
    background-color:#ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 1;
    z-index: 9999;
}

.splash-gif{
    width: 62px;
    margin-left: auto;
    margin-right: auto;
}

.splash-inside{
    width:270px;
    height:150px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-75px 0 0 -135px;
}

.splash-logo{
    width:250px;
    
}






/* --------- Top Nav Styles --------- */
.topNavContainer{
    position: fixed;
}

.topNavLogoSearchContainer{
    padding: 0 30px 0 30px;
    height: 100%;
}
.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.topNavSearch{
    margin-left: 100px;
}

.topNavInput{
    width: 400px !important;
    background: #f5f5f5;
    border:none !important;
}

#topNav {
    width: 100%;
}

.navBar{
    width:100%;
    border-bottom: 1px solid rgba(0,0,0,.12);
}


.btn-header{
    padding: .3rem .75rem;
    border-color: #039ee2;
    color: #039ee2;
    cursor: pointer;
}

.btn-header:hover{
    background-color: #039ee2 !important;
    border-color: #039ee2;
}



.home-btn{
    background-color: #039ee2 !important;
    border-color: #039ee2;
    color:white;
}

.googlePhotoWrapper {
    padding: 0 50px 0 30px;
}

.googlePhoto {
    width: 45px;
    border-radius: 50px;
    cursor: pointer;
}

.IconMenu{
    font-size:22px;
    color:#7b8186;
    cursor: pointer;
}

#collapsePushMenu{
    z-index: 9999999999;
    margin-top: 125px !important;
}




/* --------- Widget Styles ---------- */

#menu-side{
    padding-right: 0px !important;
}

.w-container-out{
    padding: 45px 45px 0px 45px;
}

.w-container:hover{
    cursor:pointer !important;
    box-shadow: 0 1px 3px 0 rgba(61,65,68,0.303), 0 4px 8px 3px rgba(60,64,67,0.150);
}

.w-container{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.301), 0 1px 3px 1px rgba(60,64,67,0.150);
    resize: both;
    background-color: white;

}

.inline{
    display: inline-flex;
}

.w-top{
    height:24px;
    width:100%;
    background: transparent;
}

.w-container-out:hover .w-top-l{
    cursor: pointer;
    display: block !important;
    -webkit-animation: fadein .3s;
    -moz-animation: fadein .3s;
    -ms-animation: fadein .3s;
    -o-animation: fadein .3s;
    animation: fadein .3s;
    -webkit-animation: animat_show .3s;
    animation: animat_show .3s;
}

.w-container-out:hover .w-top-r{
    cursor:pointer;
    display: block !important;
    -webkit-animation: fadein .3s;
    -moz-animation: fadein .3s;
    -ms-animation: fadein .3s;
    -o-animation: fadein .3s;
    animation: fadein .3s;
    -webkit-animation: animat_show .3s;
    animation: animat_show .3s;
}

.top-none{
    display:none;
}

.w-top-l{
    float:left;
    display:none;
}
.w-top-r{
    float:right;
    display:none;
}
.e-iframe-container{
    padding:10px;
}


.modal-dialog.widget-modal{
    max-width:80% !important;
    height: 80% !important;
}

.modal-full{
    width:100% !important;
    height: 100% !important;
}

.widget-modal-h{
    height: 100% !important;
}

.widgetTitle{
    padding-top: 64px;
    padding-bottom: 12px;
    font-size: 19px;
}

.widgetLogo{
    width:65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 80px;
}


/* ----- Side Menu Styles --------*/
.menu-side1{
    padding:95px 0px 0px 0px;
}

.menu-side{
    height: 100vh;
    transform: translateX(0);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
    background: #fff;
    border-right: 1px solid rgba(0,0,0,.12);
    bottom: 0;
    font-size: 14px;
    overflow-y: auto;
    padding: 15px 0 40px;
    /*position: fixed;*/
    top: 0;
    width:100%;
    transition: transform .15s cubic-bezier(.4,0,.2,1);
}

li{
    display:flex;
}

.menu-side-list{
    list-style: none;
    padding:0px;
}

.menu-main-item{
    padding: 10px 13px 10px 20px;
    font-size: 19px;
    width: 100%;
    display: flex;
}

.menu-item{
    padding: 10px 10px 10px 62px;
    font-size:16px;
    width:100%;
}

.menu-icons{
    font-size:19px;
    padding-right:20px;
    cursor: pointer;
    color: #039ee2;
}
.mih:hover{
    background:#efefef;
}
.border {
    border: 1px solid #dee2e6 !important;
}
.activeMenuItem{
    background:#f5f4f4;
}

.addWorkspace{
    cursor:pointer;
}

.pad-left-help{
    padding-left: 5px;
}

.pad-left-settings{
    padding-left: 2px;
}




#iframe{
    border:none; width:100%;height:100%;
}

#Logo{
    height:85px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.floatRight{
    float:right;
}

.settingsIconMenu{
    padding-left: 10px;
    padding-right: 10px;
}


@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}




/* --------- Center Login Auth Div ---------- */
.full-w-h{
    position: absolute;
    left: 50%;
    margin-left: -180px;
    top: 50%;
    margin-top: -100px;
    text-align: center;
    width: 400px;
}

/* Homepage */
.jumbotron.hp-background{
    width:100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5rem 2rem 35.5rem 2rem;
}

.bk-fixed{
    background-attachment: fixed;
}

.centerWrapper{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}


.home-btn:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    background-color: #2391E6;
    transition: all .3s ease-out;
    background-color: #09adf5 !important;
}

.home-btn{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color:white !important;
    background-color: #009de2 !important;
    padding: 12px 20px;
    border-radius: 9px;
    font-size: 19px;
}

.home-btn:focus, .home-btn:active, .home-btn:visited {
    border-style: outset;
    border: none;
    outline: none;
}

.c-white{
    color:white !important;
}

.display-3 {
    color: #f1f1f1;
}

.homedashImg{
    width: 85%;
}

.homedashImg-h{
    height:826px;
}

.star {
    visibility: hidden;
}

.dis-none {

    display:none;
    /*
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    -webkit-animation: animat_show 9.8s;
    animation: animat_show 9.8s;
    visibility: visible !important;
    */
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

.mt65{
    margin-top: 65px;
}

.pt65 {
    padding-top:65px;
}

.pt50 {
    padding-top:50px;
}

.pt45 {
    padding-top:45px;
}

.pt30 {
    padding-top:30px;
}

.pt20 {
    padding-top:20px;
}

.p10{
    padding:10px;
}

.pos-ab {
    position: absolute;
    border: none;
}

.profilePhoto {
    width: 75%;
    border-radius: 301px;
    height: 183px;
    display: block;
    margin: auto;
    padding: 15px;
}


.h2, h2 {
    font-size: 3rem;
}

.heartLogo{
    color: #e21212;
}

.b-space{
    border:0;
    margin:30px;
    height:0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255,255,255,0.3);
    width:75%;
    margin:0px auto;
    clear:both;
}


.modal-dialog {
    max-width: 600px !important;
}

.float-right{
    float:right;
}